/* stylelint-disable rule-empty-line-before */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 87.5%;
  height: 5.938%;
  margin: 0 0 2.375%;
  padding: 1.438% 6.188% 1.688% 6.25%;
  background-color: #fff;
  text-decoration: none;
  border-bottom: darkgrey solid 1px;
}

.title-1 {
  display: flex;
  align-items: center;
  gap: 24px;
}

.list-1 {
  list-style: none;
  display: flex;
  gap: 24px;
}

.li-item {
  text-decoration: none;
}
